@model IEnumerable<KtelProject.Models.ReservationViewModel>




<h3>Profile Page</h3>

<p>First Name : @ViewBag.FirstName</p>
<p>Last Name : @ViewBag.LastName</p>
<p>Phone Number : @ViewBag.PhoneNumber</p>
<p>Email : @ViewBag.Email</p>
<!--<p>Password : @ViewBag.Password</p>-->
<p>@Html.ActionLink("Edit Profile", "Edit")</p>



